@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
html{
--lienoff:DarkKhaki;
}
body{
	font-family: 'Oswald', sans-serif;
	background-color: DarkKhaki;
}

/* liens  */
a {
  color: DimGray;
  text-decoration: none;
  background-image:
    linear-gradient(var(--lien), var(--lienoff));
  background-size: 100% 4px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s linear;
}

a:hover {
  background-size: 0 2px, 100% 2px;
}
/* fin de liens */
svg.lock{
	display: inline-block;
}
h1:hover svg.lock{
	stroke:OrangeRed;
}
/* formulaires */
label{
	display:inline-block;
	width:7em;
}
input
	{
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 8px 6px;
}
input[type=submit]{
	background: #aaa;
	color :white;
	margin-left:7em;
	transition: all .2s;
}
input[type=submit]:hover{
	background: white;
	color :#aaa;
}

	/* fin de formulaire */
